.about-icons {
  width: 100%;
  margin-top: 50px;
}

.about-text {
  font-family: the-seasons, sans-serif;
  font-size: 67px;
  font-weight: 300;
  line-height: 92.925%;
  margin-top: 46px;
  line-height: 69px;
}

.about-icon-star {
  margin-top: 300px;
  margin-bottom: 60px;
}

.about-images {
  width: 100%;
  margin-bottom: 18px;
}

.about-text-intro {
  font-family: the-seasons, sans-serif;
  font-size: 67px;
  font-weight: 300;
  line-height: 92.925%;
  line-height: 69px;
  margin-top: 30px;
  margin-bottom: 19px;
  text-align: right;
}

.about-left-poster {
  margin-top: 45px;
}

.about-text-end {
  font-family: the-seasons, sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 55px;
  margin-top: 90px;
  text-align: right;
}

.about-spot-code {
  width: 100%;
  border-radius: 50px;
  margin-top: 72px;
}

.about-music-text {
  font-family: the-seasons, sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 17px;
}

.about-music-legend {
  font-weight: 100;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 115px;
}
