.branche-name {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
}

.branche-number {
  font-family: "The Seasons";
  font-size: 32px;
  font-family: the-seasons, sans-serif;
  font-weight: 100;
  font-style: italic;
}

.branche {
  margin-bottom: 118px;
  margin-top: -27px;
}
