.button-projects {
  padding: 7px 29px;
  border-radius: 38px;
  border: 0.4px solid var(--Light-Light-Brown, #f3e7d5);
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 13px;
}
