.cursor {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f3e7d5;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 5000;
  transform: translateX(-17px) translateY(-14px);
}
