.citation-texte-top,
.citation-texte-bottom {
  font-family: the-seasons, sans-serif;
  font-size: 67px;
  font-weight: 100;
  line-height: 92.925%;
}

.citation-texte-top {
  margin-bottom: 9px;
}

.citation-texte-bottom {
  margin-bottom: 168px;
}
