.exposed-title-top {
  font-family: "Helvetica Neue";
  font-size: 135px;
  font-weight: 700;
  letter-spacing: -4.05px;
}

.exposed-title-bottom {
  font-family: the-seasons, sans-serif;
  font-size: 135px;
  font-style: italic;
  font-weight: 300;
  line-height: 92.925%;
  margin-bottom: 14px;
}
