.title-main {
  font-size: 150px;
  letter-spacing: -4.5px;
}

.title-second {
  font-family: the-seasons, sans-serif;
  font-size: 150px;
  font-style: italic;
  font-weight: 300;
  line-height: 92.925%;
  margin-top: -45px;
  margin-bottom: 129px;
}
