.projet-tools-title {
  color: var(--Brown, #9d958a);
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 92.925%;
  margin-bottom: 10px;
}

.projet-tools-name {
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 3%;
}

.projet-tools {
  margin-bottom: 87px;
}
