.title-name {
  font-family: "Helvetica Neue";
  font-size: 180px;
  font-weight: 700;
  letter-spacing: -5.4px;
}

.title-lastname {
  font-size: 155px;
  font-family: the-seasons, sans-serif;
  font-weight: 400;
  font-style: italic;
}
