.top-image-left,
.top-image-right {
  width: 100%;
}

.top-image-left {
  margin-top: 35px;
}

.top-texte {
  font-family: the-seasons, sans-serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -0.64px;
  margin-bottom: 38px;
}

.top {
  margin-bottom: 45px;
}
