* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

img,
video {
  display: block;
}

:root {
  --Dark-green: #0f1907;
  --Brown: #9d958a;
  --Light-brown: #cca771;
  --Light-light-brown: #f3e7d5;
  --Grey: #d9d9d9;
  --White: #ffffff;
}

html {
  cursor: none;
}

body {
  background-color: var(--Dark-green);
  color: var(--Light-light-brown);
  font-family: "Helvetica Neue";
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue-CondensedBold.woff2") format("woff2"),
    url("../font/HelveticaNeue-CondensedBold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue-ThinItalic.woff2") format("woff2"),
    url("../font/HelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../font/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
